<html>
   <head>
      <title>Senha incorreta</title>
      <script>
         // confirm  é um tipo de alert 
         confirm("Senha incorreta")
         // forma de redirecionar por aqui
         window.location.replace("/room/<%= roomId %>")
      </script>
   </head>
</html>