* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   border: none;
   box-sizing: border-box;
}

html {
   --black: #0D114F;
   --white: #FAFAFA;
   --red: #E83F5B;
   --light-blue: #E0ECFF;
   --blue: #3485FF;
   --background: #FBFCFF;
   --overlay: #040911;
   --iconsAnddetails: #A5B0C1;

   /* greys */
   --grey-dark: #4D5E77 ;
   --grey-blue: #A1B2CD;
   --grey-medium: #eaecf2;
   --grey-light: #E5EAF1;

   /* hover */
   --hover-blue: ; 
   --hover-red: ;
   --hover-grey: ;

   /* font */
   /* O valor padrão do font-size do html é 100% (16px). Setamos esse valor para 62.5% (10px) para facilitar as contas na transformação de px para rem (pois estamos copiando o design para a realização desse site através do figma) */
   font-size: 62.5%;
}

body {
   height: 100vh;
   background: var(--background);
   display: flex;
}

body, button, input, textarea {
    /* intervalo de tamanho, no clamp() o primeiro argumento é para o tamanho mínimo da fonte (para dispositivos menores), o segundo arg é para o tamanho padrão (geralmente para desktops) e o terceiro arg é para quando o site for aberto em uma tv por exemplo. É uma boa prática para auxiliar na responsividade. */
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
} 

.content {
   width: 100%;
   margin: 0 auto;
}

.content header {
   width: 80%;
   margin: 3.5rem auto;
}

.content header img {
   width: 16.7rem; 
}

.sr-only {
   position: absolute;
   height: 1px;
   width: 1px;
   padding: 0;
   /* posicionando o elemento, top:0, bottom:0, left:0, right: 0 */
   clip-path: rect(0, 0, 0, 0);
   margin: -1px;
   /* para não ter barra de rolagem */
   overflow: hidden;
   white-space: nowrap;
   border-width: 0;
}

/* button and inputs */
input, button, .button {
   border-radius: .8rem;
   height: 5rem;
}

button, .button {
   font-family: 'Poppins';
   font-weight: 500;
   /* todo elemento em que o texto tem que ser em uma linha apenas, nós colocamos line-height 0 para não ter erro de quebrar o nosso layout */
   line-height: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--blue);
   /* transição para o hover ter uma atividade mais lenta */
   transition: filter .3s;
   color: var(--white);
   cursor: pointer;
}

button:hover, .button:hover {
   /* forma diferente de se fazer o hover, interessante */
   filter: brightness(1.2);
}

button.outlined,
.button.outlined {
   background: #FBFCFF;
   color: var(--blue);
   border: var(--blue) .2rem solid;
}

button > img,
.button > img {
   margin-right: 1rem;
   width: 2rem;
}

button.color-red,
.button.color-red {
   background: var(--red);
}

div.color-grey,
.button.color-grey {
   background: var(--grey-medium);
   color: var(--grey-dark);
}

