.content {
   display: grid;
   /* setamos para duas colunas, 60% de largura para a primeira e 40% de largura para a segunda. */
   grid-template-columns: 60% 40%;
   /* setando a altura das fileiras, 11.4rem para a primeira (que será o header) e 1fr para todo o restante da tela (que será o main). */
   grid-template-rows: 11.4rem 1fr;
   grid-template-areas: 
   'header header'
   'left right'
}

/* colocando os elementos nas posições do grid-template-areas acima */
header {
   grid-area: header;
}

#bg {
   grid-area: left;
   /* o top/contain é para a imagem se encaixar no topo e para ficar contida dentro do elemento (div#bg) em que ela está. */
   background: url('/assets/home-bg-img.svg') no-repeat top/contain;
}

main {
   grid-area: right;
   display: flex;
   align-items: center;
}

main .container {
   /* vai usar sempre o mínimo */
   width: min(36.3rem 100%);
}

main h2 {
   font-family: 'Poppins', sans-serif;
   color: var(--black);
   font-size: clamp(20px, 5vw, 2.8rem);
   margin-bottom: 2.4rem;
}

input {
   border: var(--grey-dark) .2rem solid;
   padding: 0 1.6rem;
}

input, button, .button {
   width: 100%;
   margin-bottom: 1.8rem;
}